*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

.left-button, .right-button{
  color: #f4858e;
  border: none;
  background-color: transparent;
  font-weight: bold;
  position: absolute;
  font-size: 40px;
  cursor: pointer;
}
.left-button{
  top: 45%;
  left: 5%;
  z-index: 1;
}
.right-button{
  top: 45%;
  right: 5%;
  z-index: 1;
}


@keyframes slideshowLeft {
   40% { opacity: 1; left: 0;}
   50% { opacity: 0.5;left: -300px;}
   75% { opacity: 0.3; left: -500px;}
   100% { opacity: 0; left: -800px;}
}
@keyframes slideshowRight {
   40% { opacity: 1; left: 200px;}
   50% { opacity: 0.5;left: 400px;}
   75% { opacity: 0.3; left: 500px;}
   100% { opacity: 0; left: 800px;}
}
