*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  background-color: rgb(231, 222, 227);
}

nav{
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  background: rgba(247, 45, 136, 0.95);
  z-index: 1000;
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}

a{
  text-decoration: none;
}

#logo,#menu{
  position: absolute;
  z-index: 2000;
}

#logo{
  left: 40%;
  top: 8px;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  padding: 0.4% 2%;
  text-align: center;
  color: black;
}

.menu{
  top: 35px;
  right: 0;
  height: 4px;
  width: 30px;
  text-align: right;
  margin: 2px;
  background: black;
  transition: all 0.3s;
}

.menu::before{
  top: -8px;
}

.menu::after{
  top: 8px;
}

.menu::before, .menu::after{
  content: "";
  width: 30px;
  height: 4px;
  z-index: -1;
  display: block;
  position: absolute;
  background: black;
  transition: all 0.3s;
}

#menu:hover::before{
  top: -9px;
}

#menu:hover::after{
  top: 9px;
}

.despliega .menu{
  background: none !important;
}

.despliega .menu::after{
  top: 0 !important;
  background: black !important;
  transform: rotate(45deg);
}

.despliega .menu::before{
  top: 0 !important;
  background: black !important;
  transform: rotate(-45deg);
}

nav .nav-menu{
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1500;
  background: none;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01,0.3,1);
}

nav .despliega .nav-menu{
  background-color: rgba(255, 255, 255, 0.92) !important;
  opacity: 1;
  transition: background-color 0.6s cubic-bezier(0.7, 0.01,0.3,1);
}

nav .despliega{
  height: 100%;
  transition: none;
  -o-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

nav ul{
  width: 100%;
  padding: 0;
  opacity: 0;
  top: -10%;
  text-align: right;
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  transform: perspective(600px) rotateX(10deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}

nav ul li{
  visibility: hidden;
}
